fastapi==0.115.0
uvicorn==0.30.0
torch==2.3.1
torchvision==0.18.1
opencv-python-headless==4.10.0.84
paho-mqtt==2.1.0
supabase==2.3.0
python-multipart==0.0.9
httpx
numpy==1.26.4
pillow==10.3.0
huggingface_hub==0.23.0
python-dotenv==1.0.1
pytorchvideo==0.1.5
reportlab==4.2.0
grad-cam==1.5.4
timm==0.9.16
fvcore==0.1.5.post20221221
iopath==0.1.10
yacs==0.1.8
requests==2.32.0